<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aku Laparr</title>
  </head>
  <body>
    <body>
      <a href="#content" class="skip-link">Skip ke konten?</a>

      <!-- Navbar untuk Mobile -->
      <div class="menumob">
          <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
          <div class="logomob">Aku Laparr</div>
          <div class="logomob">&nbsp;</div>
      </div>
      <nav id="drawer" class="navmob">
          <ul class="navlistmob">
              <li class="navitemsmob"><a href="">Home</a></li>
              <li class="navitemsmob"><a href="#">Favorite</a></li>
              <li class="navitemsmob"><a target="_blank" href="https://github.com/Daniwah">About Us</a></li>
          </ul>
      </nav>

      <!-- Navbar untuk Desktop -->
      <nav class="nav">
          <a class="logo" href="">Aku Laparr</a>
          <ul class="navlist">
              <li class="navitems"><a href="">Home</a></li>
              <li class="navitems"><a href="#">Favorite</a></li>
              <li class="navitems"><a target="_blank" href="https://github.com/Daniwah">About Us</a></li>
          </ul>
      </nav>

      <!-- Jumbotron -->
      <div class="hero" >
          <div class="heroinner">
              <h1 class="herotitle">Aku Laparr</h1>
              <p class="herosubtitle">Daftar restoran terbaik hanya disini.</p>
          </div>
      </div>

      <!-- Content -->
      <main id="content">
          <section class="content">
              <div class="latest">
                  <h1>Daftar restoran</h1>
                  <div class="list" id="tes"></div>
              </div>
          </section>
      </main>

      <!-- Footer -->
      <footer>
          <p>Copyright © 2024 - Aku Laparr</p>
      </footer>
  </body>
</html>
